// .Carousel {
//     width: 100%;
//     overflow: hidden;

//     position: relative;
//     &-container {
//         width: 300%;
//         height: 45rem;

//         @include flex (row, nowrap, flex-start, center);
//     }
//     &-item {
//         width: 100%;
//         height: 100%;

//         transition: .3s ease-in-out;
//         &--one {
//             background: lightcoral;
//         }
//         &--two {
//             background: lightgoldenrodyellow;
//         }
//         &--tree {
//             background: lightseagreen;
//         }
//     }
//     &-controls {
//         width: 100%;
//         height: 100%;
        
//         position: absolute;
//         top: 0;
//         left: 0;
        
//         pointer-events: none;
//     }
//     &-wrapper {
//         height: 100%;
//         @include flex (row, nowrap, space-between, center);
//     }
//     &-control {
//         width: 10rem;
//         height: 100%;
//     }
//     &-controlButton {
//         width: 100%;
//         height: 100%;
//         cursor: pointer;

//         @include flex (column, nowrap, center, center);

//         pointer-events: auto;

//         transition: 
//             background .3s ease-in-out,
//         ;

//         &:hover {
//             background: $color-gradient-azul-3;
//         }
//     }
//     &-svg {
//         width: 3.5rem;
//         height: 3.5rem;
//         fill: $color-blanco;
//     }
// }




.Slide {
    width: 100%;
    &-container {
        background: lightblue;
        width: 100%;
        height: 45rem;
        overflow: hidden;
    }
    &-item {}
    &-controls {}
    &-wrapper {}
    &-control {}
    &-controlButton {}
    &-svg {}
}