
.footer{
    width: 100%;
    height: auto;
    background: $color-azul;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-top: 1.5rem;
    display:flex ;
    justify-content: space-between;
    &-arrow{
        width: 7rem;
        height: auto;
    }
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}



.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    &-image{
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        margin-right: 15px;
    }
    &-words{
        font:{
            family:$font-segoe-print;
            size: 2.5rem;
            weight:500;
        }
        color: $color-blanco;
    }
}

.redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    &-icon{
        width: 6rem;
        height: 6rem;
        margin-right: 12px;
    }
    &-words{
        font:{
            family:$font-open-sans;
            weight:400;
            size:2.5rem;
        }
        color:$color-blanco;
    }
    
}


//breackpoint//
@include media(1180px){
    .footer{
        justify-content: space-evenly;
    }
}