
//vinieta azul
.vinieta1{
    background-color: $color-azul;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 25rem;
    &-words1{
        font:{
            family:$font-open-sans;
            size: 2.5rem;
            weight:600 ;
        }
        color: $color-blanco;
    }
    &-words2{
        font:{
            family:$font-open-sans;
            size:2.5rem ;
            weight:600;
        }
        color: $color-blanco;
    }
    &-words3{
        font:{
            family:$font-open-sans;
            size: 2.5rem;
            weight:700;
        }
        margin-top: 1.2rem;
        color: $color-blanco;
    }

}
 //cards1//
 .cards-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
.cards1{
    width: 75%;
    border-radius: 3rem;
    background-color: $color-gradient-azul-9;
    box-shadow: $box-shadow-card;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;

    &-img{
        width: 65rem;
        height: auto;
        border-radius: 3rem;
        margin: 1rem;
        margin-right: 1.5rem;
    }
    
}




.info1{
    margin-left: 2.5rem;
}
.info1-title{
    font:{
        family:$font-open-sans;
        size: 4rem;
        weight:800;
    }
    color: $color-azul;
}

.info1-text{
    font:{
        family:$font-open-sans;
        size: 2.5rem;
        weight:400;
    }
    color: $color-azul;
}
.cards1-info_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

.btnAgendar{
    font:{
        family:$font-open-sans;
        size:2.5rem;
        weight: 600;
    }
    background-color: $color-naranja;
    color: $color-azul;
    border-radius: 3rem;
    padding: 0.8rem;
    margin-left: 10rem;
}

.cards1-reverse{
    width: 75%;
    border-radius: 3rem;
    background-color: $color-gradient-azul-9;
    box-shadow: $box-shadow-card;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 20rem;

    &-img{
        width: 65rem;
        height: auto;
        border-radius: 3rem;
        margin: 1rem;
        margin-right: 1.5rem;
    }
}

 //vinieta azul con letras naranjas//
 .vinieta2{
    background-color: $color-azul;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 25rem;
    &-words1{
        font:{
            family:$font-open-sans;
            size: 5rem;
            weight:800 ;
        }
        color: $color-naranja;
    }
    &-words2{
        font:{
            family:$font-open-sans;
            size:4rem ;
            weight:600;
        }
        color: $color-naranja;
    }
}
// cardsmobile//
.cardsmobile{
    display: none;
}

//cards2//
.cards2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-2{
    width: 45%;
    height: auto;
    background-color: $color-gradient-azul-9;
    display: flex; 
    flex-direction: row;
    align-items: center;
    border-radius: 5rem;
    box-shadow: $box-shadow-card;
    overflow: hidden;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
 }


 .card2-image{
    width: 30rem;
    height: 30rem;
    margin-right: 1rem;
    margin-left: 1.5rem;
    border-radius: 3rem;
    margin-right: 1.5rem;
    margin:1rem;
    
}

.card2-title{
    font:{
        family:$font-open-sans;
        weight:700;
        size: 5rem;

    }
    margin-bottom: 1.5rem;
    color: $color-azul;
}

.card2-text{
    font:{
        font-family: $font-open-sans;
        weight:200;
        size: 2.5rem;
    }
    color: $color-azul;
}



//breakpoint 1700px//
@include media(1720px){
    .cards1{
        &-img{
            width: 45rem;
            height: auto;
        }
        
    }
    .info1-text{
        font:{
            size: 2rem;
        }
    }
    .btnAgendar{
        font:{
            size:2rem;
        }
    }

}
//breackpoint 1736px
@include media(1736px){
    .card2-image{
        width: 24rem;
        height: 24rem;
    }
    .card2-title{
        font-size: 4rem;
    }
    .card2-text{
        font-size: 2rem;
    }
}
//breakpoint 1329px//
@include media(1329px){
    .cards1{
        &-img{
            width: 34rem;
            height: auto;
        }
        
    }
    .info1-text{
        font:{
            size: 2rem;
        }
    }
    .btnAgendar{
        font:{
            size:2rem;
        }
    }

}

//breakpoint 1200px//
@include media(1200px){
    .cards1{
        &-img{
            width: 30rem;
            height: 28rem;
        }
        
    }
    .info1-text{
        font:{
            size: 2rem;
        }
    }
    .btnAgendar{
        font:{
            size:2rem;
        }
    }

}

//breackpoint 1180px
@include media(1180px){
    .vinieta1{
        padding-left: 2rem;
    }
    .cards-container{
        background: linear-gradient(to right, rgb(171, 182, 221) 0%, rgb(223, 167, 131) 100%);
    }
    .cards1{
        display: none;
    }
    .cards2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-2{
        width: 95%;
    }
    .cards1-reverse{
        display:none;
    }

    .cardsmobile{
        display: flex;
        flex-direction: column;
        background-color: $color-gradient-azul-9;
        padding: 1rem;
        border-radius: 3rem;
        width: 85%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .cardsmobile-imginfo{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    .cards1-img{
        width: 18rem;
        height: 18rem;
    }
    .vinieta2-words1{
        font-size: 3.5rem;

    }
    .vinieta2-words2{
        font-size: 2.5rem;
    }
    .vinieta2{
        padding-left: 2rem;
    }

}

//breackpoint 672px
@include media(600px){
    .card1-img{
        width: 18rem;
        height: 18rem;

    }
    .info1-title{
        font-size: 3rem;
    }
    .info1-text{
        font-size: 1.8rem;
    }
}

//breackpoint 600px
@include media(600px){
    .main-cards{
        margin-top: -2rem;
    }
}

//breackpoint 495px
@include media(495px){
    .info1-title{
        font-size: 3rem;
    }

    .card2-image{
        width: 17rem;
        height: 17rem;
    }
}
