
//vinieta azul
.vinieta1{
    background-color: $color-azul;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 25rem;
    &-words1{
        font:{
            family:$font-open-sans;
            size: 2.5rem;
            weight:600 ;
        }
        color: $color-blanco;
    }
    &-words2{
        font:{
            family:$font-open-sans;
            size:2.5rem ;
            weight:600;
        }
        color: $color-blanco;
    }
    &-words3{
        font:{
            family:$font-open-sans;
            size: 2.5rem;
            weight:700;
        }
        margin-top: 1.2rem;
        color: $color-blanco;
    }

}
 //cards1//
 .cards-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
.cards1{
    width: 75%;
    border-radius: 3rem;
    background-color: $color-gradient-azul-9;
    box-shadow: $box-shadow-card;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;

    &-img{
        width: 65rem;
        height: auto;
        border-radius: 3rem;
        margin: 1rem;
        margin-right: 1.5rem;
    }
}




.info1{
    margin-left: 2.5rem;
}
.info1-title{
    font:{
        family:$font-open-sans;
        size: 4rem;
        weight:800;
    }
    color: $color-azul;
}

.info1-text{
    font:{
        family:$font-open-sans;
        size: 2.5rem;
        weight:400;
    }
    color: $color-azul;
}

.cards1-info_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

.btnAgendar{
    font:{
        family:$font-open-sans;
        size:2.5rem;
        weight: 600;
    }
    padding: 1rem;
    color: $color-azul;
    background-color: $color-naranja;
    border-radius: 4rem;
    width: 30%;
    height: auto;
    margin-left:15rem ;
}

.cards1-reverse{
    width: 75%;
    border-radius: 3rem;
    background-color: $color-gradient-azul-9;
    box-shadow: $box-shadow-card;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 20rem;

    &-img{
        width: 65rem;
        height: auto;
        border-radius: 3rem;
        margin: 1rem;
        margin-right: 1.5rem;
    }
}

 //vinieta azul con letras naranjas//
 .vinieta2{
    background-color: $color-azul;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 25rem;
    &-words1{
        font:{
            family:$font-open-sans;
            size: 5rem;
            weight:800 ;
        }
        color: $color-naranja;
    }
    &-words2{
        font:{
            family:$font-open-sans;
            size:4rem ;
            weight:600;
        }
        color: $color-naranja;
    }
}

//cards2//
.cards2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-2{
    width: 45%;
    height: auto;
    background-color: $color-gradient-azul-9;
    display: flex; 
    flex-direction: row;
    align-items: center;
    border-radius: 5rem;
    box-shadow: $box-shadow-card;
    overflow: hidden;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
 }


 .card2-image{
    width: 30rem;
    height: auto;
    margin-right: 1rem;
    margin-left: 1.5rem;
    border-radius: 3rem;
    margin-right: 1.5rem;
    margin:1rem;
    
}

.card2-title{
    font:{
        family:$font-open-sans;
        weight:700;
        size: 5rem;

    }
    margin-bottom: 1.5rem;
    color: $color-azul;
}

.card2-text{
    font:{
        font-family: $font-open-sans;
        weight:200;
        size: 2.5rem;
    }
    color: $color-azul;
}
