.PreAbout {
    background: linear-gradient(to right, $color-lila 0%, $color-gradient-naranja 100%);

    width: 100%;
    height: 95vh;

    overflow: hidden;

    position: relative;
    &-waves {
        width: 100%;
        height: 100%;
        
        @include flex(column, nowrap, space-between, center);
    }
    &-wave {
        width: 100%;
        
        &--svg {
            width: 100%;
            height: 100%;
        }
    }


    &-superimposed {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        padding: 8rem 3rem;
    }
    &-wrapper {
        height: 100%;
        
        @include flex(row, nowrap, space-between, center);
        gap: 3rem;
    }
    &-image {
        width: 30%;
        height: 100%;
        padding: 3rem 0;

        overflow: hidden;

        @include flex(column, nowrap, flex-start, center);
    }
    &-circle {
        border-radius: 100%;

        width: 35rem;
        height: 35rem;

        overflow: hidden;

        box-shadow: .5rem .5rem 1px $color-negro-3;
    }
    &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-info {
        width: 70%;
        height: 100%;
        padding: 5rem;
        padding-right: 0;

        @include flex(row, nowrap, space-between, flex-start);
    }
    &-content {
        color: $color-azul;
        width: 75%;
        height: 100%;
    }
    &-h2 {
        @include flex(column, nowrap, flex-start, flex-start);

        &--greeting {
            font: {
                weight: 900;
                size: 6rem;
            }
        }
        &--name {
            font: {
                weight: 400;
                size: 6rem;
            }
        }
    }
    &-list {
        margin-top: 3rem;
        padding-left: 3rem;
    }
    &-item {
        list-style: disc;

        font: {
            weight: 400;
            size: 2.4rem;
        }
    }
    &-link {
        width: 25%;
        height: 100%;
        padding: 3rem 0;
        
        @include flex(column, nowrap, flex-end, center);
    }
    &-button {
        background: $color-azul;
        color: $color-blanco;
        width: 100%;
        padding: 1.5rem 0;

        border-radius: 10rem;
        cursor: pointer;

        font: {
            weight: 400;
            size: 1.8rem;
        }
    }


    // Breakpoint 1420px
    @include media(1420px) {
        &-circle {
            width: 30rem;
            height: 30rem;
        }
    }
    // Breakpoint 1230px
    @include media(1230px) {
        &-circle {
            width: 25rem;
            height: 25rem;
        }
    }
    // Breakpoint 1150px
    @include media(1150px) {
        &-info {
            @include flex(column, nowrap, center, center);
        }
        &-content {
            width: 100%;
        }
        &-link {
            width: 100%;
            @include flex(column, nowrap, center, center);
        }
        &-button {
            width: auto;
            padding: 1rem 1.5rem;
        }
    }
    // Breakpoint 1050px
    @include media(1050px) {
        &-wrapper {
            position: relative;
            @include flex(column, nowrap, flex-start, center);
        }
        &-image {
            width: auto;
            height: auto;
        }
        &-circle {
            position: absolute;
            top: -3rem;
            left: 0;
        }
        &-h2 {
            position: absolute;
            top: 0;
            right: 0;
        }
        &-info {
            width: 100%;
            margin-top: 8rem;
        }
    }
    // Breakpoint 820px
    @include media(820px) {
        &-circle {
            position: absolute;
            top: -3rem;
            left: 0;

            width: 20rem;
            height: 20rem;
        }
        &-h2 {
            &--greeting {
                font: {
                    size: 5rem;
                }
            }
            &--name {
                font: {
                    size: 5rem;
                }
            }
        }
        &-info {
            margin-top: 4rem;
        }
    }
    // Breakpoint 680px
    @include media(680px) {
        &-h2 {
            &--greeting {
                font: {
                    size: 4rem;
                }
            }
            &--name {
                font: {
                    size: 4rem;
                }
            }
        }
        &-item {
            font: {
                size: 2rem;
            }
        }
    }
    // Breakpoint 600px 
    @include media(600px) {
        height: 60rem;
    }
    // Breakpoint 500px 
    @include media(500px) {
        &-wrapper {
            gap: 0;
        }
        &-circle {
            width: 15rem;
            height: 15rem;
        }
        &-info {
            margin-top: 0;
        }
    }
    // Breakpoint 450px 
    @include media(450px) {
        height: 55rem;
        &-h2 {
            &--greeting {
                font: {
                    size: 3.5rem;
                }
            }
            &--name {
                font: {
                    size: 3.5rem;
                }
            }
        }
        &-info {
            margin-top: 3rem;
        }
        &-list {
            padding: 0;
        }
    }
    // Breakpoint 420px 
    @include media(420px) {
        &-h2 {
            &--greeting {
                font: {
                    size: 3rem;
                }
            }
            &--name {
                font: {
                    size: 3rem;
                }
            }
        }
    }
}
