.PreAbout {
    background: linear-gradient(to right, $color-lila 0%, $color-gradient-naranja 100%);

    width: 100%;
    height: 95vh;
    &-waves {
        width: 100%;
        height: 100%;
        
        @include flex(column, nowrap, space-between, center);
    }
    &-wave {
        width: 100%;
        
        &--svg {
            width: 100%;
            height: 100%;
        }
    }
}