/*
// Colores principales
*/
$color-blanco: rgb(255, 255, 255);
    $color-blanco-3: rgba(255, 255, 255, 0.3);
    $color-blanco-5: rgba(255, 255, 255, 0.5);
    $color-blanco-8: rgba(255, 255, 255, 0.8);
$color-gris-medio: rgb(189, 189, 189);
    $color-gris-medio-3: rgba(189, 189, 189, 0.3);
    $color-gris-medio-5: rgba(189, 189, 189, 0.5);
    $color-gris-medio-8: rgba(189, 189, 189, 0.8);
$color-negro: rgb(0, 0, 0);
    $color-negro-3: rgba(0, 0, 0,0.3);
    $color-negro-5: rgba(0, 0, 0,0.5);
    $color-negro-8: rgba(0, 0, 0,0.8);



/*
// Paleta de colores
*/




/*
// Tipografias
*/
    