/*
// Colores principales
*/
$color-blanco: rgb(240, 247, 251);
    $color-blanco-3: rgba(240, 247, 251, 0.3);
    $color-blanco-5: rgba(240, 247, 251, 0.5);
    $color-blanco-8: rgba(240, 247, 251, 0.8);
$color-gris: rgb(232, 239, 246);
    $color-gris-3: rgba(232, 239, 246, 0.3);
    $color-gris-5: rgba(232, 239, 246, 0.5);
    $color-gris-8: rgba(232, 239, 246, 0.8);
$color-negro: rgb(0, 0, 0);
    $color-negro-3: rgba(0, 0, 0,0.3);
    $color-negro-5: rgba(0, 0, 0,0.5);
    $color-negro-8: rgba(0, 0, 0,0.8);


/*
// Paleta de colores
*/

$color-azul: rgb(44, 67, 146);
    $color-azul-3: rgba(44, 67, 146, 0.3);
    $color-azul-5: rgba(44, 67, 146, 0.5);
    $color-azul-8: rgba(44, 67, 146, 0.8);    
$color-naranja: rgb(248, 143, 51);
    $color-naranja-3: rgba(248, 143, 51, 0.3);
    $color-naranja-5: rgba(248, 143, 51, 0.5);
    $color-naranja-8: rgba(248, 143, 51, 0.8);
$color-lila: rgb(171, 182, 221);
    $color-lila-3: rgba(171, 182, 221, 0.3);
    $color-lila-5: rgba(171, 182, 221, 0.5);
    $color-lila-8: rgba(171, 182, 221, 0.8);
$color-gradient-naranja: rgb(223, 167, 131);
    $color-gradient-naranja-3: rgba(223, 167, 131, 0.3);
    $color-gradient-naranja-5: rgba(223, 167, 131, 0.5);
    $color-gradient-naranja-8: rgba(223, 167, 131, 0.8);
$color-gradient-azul: rgb(201, 211, 230);
    $color-gradient-azul-3: rgba(201, 211, 230, 0.3);
    $color-gradient-azul-5: rgba(201, 211, 230, 0.5);
    $color-gradient-azul-8: rgba(201, 211, 230, 0.8);


/*
// Tipografias
*/
    // Segoe Print
    @font-face {font-family: 'Segoe Print', sans-serif; src: url('../fonts/segoepr.ttf');};
    $font-segoe-print: 'Segoe Print', sans-serif;

    // Open Sans
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
    $font-open-sans: 'Open Sans', sans-serif;